<!-- <button
  type="button"
  class="btn btn-link"
  data-mdb-toggle="modal"
  data-mdb-target="#modalEmbed"
>
    open embeded player
</button> -->
<!-- Modal -->
<div
  class="modal fade"
  id="modalNew"
  data-mdb-backdrop="static"
  data-mdb-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalEmbedLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEmbedLabel">Add to moments.yml</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-outline mb-4">
          <textarea class="form-control" id="newMoment" rows="4"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button 
            type="button" 
            class="btn btn-link" 
            data-mdb-dismiss="modal"
            onclick="setEmbed('','')">
          Close
        </button>
        <!--button type="button" class="btn btn-primary">Understood</button-->
      </div>
    </div>
  </div>
</div>