.current {
  color: green;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
  
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.moment-title {
  color: white !important;
  text-transform: uppercase;
  font-weight: 500;
  padding: .5rem .5rem .5rem;
  line-height: 1.5;
  font-size: 1.4rem;
  @media (max-width: 600px) {
    font-size: 1.2rem;
  }
}

.form-width {
  width: 40%;
  @media (max-width: 600px) {
    width: 100%;
  }
}

#newMoment {
  min-height: 10em;
}

.captions {
  color: white;
  font-weight: 500;
  padding: .5rem .5rem .5rem;
  line-height: 1.5;
  font-size: 1.2rem;
}